<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 5.0//EN" "http://www.w3.org/TR/xhtml5/DTD/xhtml5.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QX</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='img/favicon.svg') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/bulma.min.css') }}"
        />
    </head>
    <body>
        <header>
            <nav
                class="navbar is-primary"
                role="navigation"
                aria-label="main navigation"
            >
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img
                            src="https://via.placeholder.com/112x28"
                            alt="Logo"
                        />
                    </a>
                    <a
                        role="button"
                        class="navbar-burger"
                        aria-label="menu"
                        aria-expanded="false"
                        data-target="navbarBasicExample"
                    >
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/"> Home </a>
                        <a class="navbar-item" href="/about"> About </a>
                        <a class="navbar-item" href="/contact"> Contact </a>
                        <a class="navbar-item" href="/users"> Users </a>
                    </div>
                </div>

                <a
                    role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarMenu"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </nav>
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer>
            <p>© 2024 Flask App</p>
        </footer>
    </body>
</html>
